{% extends 'base_site.html' %} 

{% block title %} Moderation {% endblock title %} 

{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Moderation settings</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            <i class="fa fa-align-left"></i> Games
                        </h2>
                        <!-- <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <button type="submit" class="btn btn-success">Edit</a>
                            </li>
                        </ul> -->
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <!-- start accordion -->
                        <p>Hello!</p>
                        <!-- end of accordion -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}